<main class="fios-home">

    ${require('./hero.html')}

     <section class="call-bar">
        <div class="fx">
            <div class="fx-phone">
              Call <img src="../images/red-phone-icon-2.png">
                <a href="tel:1.877.591.2396">1.877.591.2396 </a>
            </div>
        </div>
    </section>

    <section class="l-bg bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <h3 class="mt-0">Just ask Alexa to change your channels</h3>
                    <p>Blend your fabulous FiOS<sup>&reg;</sup> Quantum TV set top box experience with your Amazon Echo device and take the clicks out of watching TV. Now all you have to do is ask politely.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                     <img class=" img-responsive text-center m-auto " src="../images/echo.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section d-bg bg-r">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <img class=" img-responsive text-center m-auto " src="../images/echo.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <h3>What will my Alexa do?</h3>
                    <p>Right now, she will change channels, search the program guide, search video-on-demand, play live TV and VOD library and control your playback functions. Simple! She talks right to your set-top box. There’s more to come. You’ll never have to update your service. That happens automatically.</p>
                </div>
            </div>
        </div>

    </section>
    <section class=" bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-8 col-lg-7">
                    <h3>Become a FiOS<sup>&reg;</sup> Quantum TV customer to start the pair up</h3>
                    <p>Change the way you watch—and talk to—your TV. Call now for more information.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-5">
                  <img class=" img-responsive text-center m-auto " src="../images/box.svg" alt="">
                </div>
            </div>
        </div>
    </section>

</main>
